<app-navbar [header]="header"></app-navbar>
<div class="container-fluid animated fadeIn fast">

    <br>
    <h1 class="text-center">Todos los casos</h1>

    <hr>

    <div class="row">

        <h4 class="col-md-12">Filtros</h4>

        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Nombre</label>
            </div>
            <input type="search" [(ngModel)]="flt.alum_name" name="alum_name" class="form-control" placeholder="Nombre del Alumno..." (ngModelChange)="filterUpdate()">
        </div>

        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Fecha</label>
            </div>
            <input type="datetime" [(ngModel)]="flt.case_date" name="case_date" class="form-control" placeholder="Fecha (YYYY-MM-DD)..." (ngModelChange)="filterUpdate()">
        </div>


        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Casos</label>
            </div>
            <select class="custom-select" id="inputGroupSelectQs" [(ngModel)]="flt.q_cont" (change)="findAnswers()" (ngModelChange)="filterUpdate()">
                <option selected></option>
                <option *ngFor="let opt of opts" [value]="opt.q_cont" >{{opt.q_cont}}</option>
            </select>
        </div>

        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Respuesta</label>
            </div>
            <select class="custom-select" id="inputGroupSelectAs" [(ngModel)]="flt.a_cont" (ngModelChange)="filterUpdate()">
                <option selected></option>
                <option *ngFor="let ans of answers" [value]="ans.a_cont">{{ans.a_cont}}</option>
            </select>
        </div>

        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Estado</label>
            </div>
            <select class="custom-select" id="inputGroupSelectSt" [(ngModel)]="flt.case_pro" (ngModelChange)="filterUpdate()">
                <option selected></option>
                <option value="PROCEDE">PROCEDE</option>
                <option value="NO PROCEDE">NO PROCEDE</option>
                <option value="N/A">N/A</option>
            </select>
        </div>

        <div class="col-md-6 input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text badge-warning" for="inputGroupSelect01">Estatus</label>
            </div>
            <select class="custom-select" id="inputGroupSelectCp" [(ngModel)]="flt.case_status" (ngModelChange)="filterUpdate()">
                <option selected></option>
                <option [ngValue]="true">Atendido</option>
                <option [ngValue]="false">No Atendido</option>
            </select>
        </div>

    </div>

    <br>

    <div class="table-wrapper-scroll-xy">
        <table class="table table-fixed" mdbTable mdbTableScroll scrollY="true" maxWidth="200">
            <thead class="barra">
                <tr>
                    <th *ngFor="let head of headElements" scope="col" style="color:white; text-align: center;">{{head}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let case of fltCases">
                    <td class="table-secondary">{{ case.alum_id }}</td>
                    <td class="font-weight-bold" [ngClass]="{'bg-success': case.case_status == 1, 'bg-danger': case.case_status == 0}">{{ case.alum_name }}</td>
                    <td class="table-secondary">{{ case.coord_name }}</td>
                    <td class="table-secondary">{{ case.q_cont }}</td>
                    <td class="table-secondary">{{ case.case_date.toLocaleString() }}</td>
                    <td class="table-secondary">{{ case.case_checked }}</td>
                    <td class="text-center table-warning">
                        <a type="button" class="btn btn-primary" [routerLink]="['/coord/casos/edit', case.case_folio]" class="btn">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <br>
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <button type="button" name="button" class="btn btn-defualt" (click)="getCSV()" [disabled]="loading">
        <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }" class="fa"></i>
        <span *ngIf="loading"> Espere por favor</span>
        <span *ngIf="!loading"> Exportar a excel</span>
    </button>
</div>

<footer>
    <br>
</footer>
