    .table-wrapper-scroll-xy {
        display: block;
        max-height: 800px;
        max-width: 1200px;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    
    .barra {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .btn {
        background-color: #ec8013;
        color: black;
    }
    
    td {
        text-align: center;
    }
    
    th {
        background: #333;
        position: sticky;
        top: 0;
        /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }