<nav class="navbar navbar-expand-lg navbar-dark">
    <a routerLink="" class="navbar-brand" style="color:#ec971f">{{header}}</a>
    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">

    </ng-container>
    <ng-template #loggedIn>
        <li class="nav-item">
            <a class="btn btn-danger text-light" style="cursor: pointer" (click)="authService.logOut()">Cerrar Sesion</a>
        </li>
    </ng-template>
</nav>