<app-navbar></app-navbar>
&nbsp;&nbsp;
<h1 class="text-center">Analizando caso</h1>

<div class="conainer animated fadeIn fast">

    <hr>

    <div class="row" [formGroup]="forma">


        <div class="col-md-6">

            <div class="container">

                <h2 class="text-center">Información del alumno</h2>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Folio:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="folio">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">No. de control:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="no_control">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Nombre:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Correo:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="correo">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Carrera:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="carrera">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Situación:</span>
                    </div>
                    <select class="form-control" formControlName="pregunta" (change)="findQuestionId()">
                        <!-- <option>{{pregunta}}</option> -->
                        <option *ngFor="let op of opts" [ngValue]="op">{{op.q_cont}}</option>
                    </select>
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Caso:</span>
                    </div>
                    <textarea class="form-control textarea-autosize" formControlName="observaciones" rows="10"></textarea>
                </div>

                <hr>

            </div>
        </div>


        <div class="col-md-6">
            <div class="container">

                <h2 class="text-center">Respuesta</h2>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Estado:</span>
                    </div>
                    <select class="form-control" formControlName="estado">
                        <option selected></option>
                        <option value="PROCEDE">PROCEDE</option>
                        <option value="NO PROCEDE">NO PROCEDE</option>
                        <option value="PARCIALMENTE">PARCIALMENTE</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Respuesta:</span>
                    </div>
                    <select class="form-control" formControlName="respuesta">
                        <!-- <option>{{respuesta}}</option> -->
                        <option *ngFor="let ans of answers" [ngValue]="ans">{{ans.a_cont}}</option>
                        <option value="-10">OTROS...</option>
                    </select>
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Observaciones:</span>
                    </div>
                    <textarea class="form-control textarea-autosize" formControlName="observaciones_coord" rows="10"></textarea>
                </div>

                <div class="col input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-warning">No atendido:</span>
                        </div>
                    </div>
                    <div class="input-group-text" [ngClass]="{'bg-danger': resueltoColor == false}">
                        <input type="radio" id="check" formControlName="resuelto" [value]="false" (change)="resueltoColor = false">
                    </div>

                    <div class="input-group-prepend">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-warning">Atendido:</span>
                        </div>
                    </div>
                    <div class="input-group-text" [ngClass]="{'bg-success': resueltoColor == true}">
                        <input type="radio" id="check" formControlName="resuelto" [value]="true" (change)="resueltoColor = true">
                    </div>
                </div>
                <hr>

            </div>
        </div>
    </div>

</div>

<br>

<br>

<div class="row">
    <div class="col-md-12" align="center">
        <button type="button" class="btn btn-primary" routerLink="/coord/casos/" style="background-color: #ec8013;">Regresar</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" style="background-color: #ec8013;" (click)="saveCase()">Enviar</button>
    </div>
</div>


<br>
<br>