button.btn {
    transition: background 1s, color 1s;
    cursor: pointer;
    background: #ec8013;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    letter-spacing: 0.10em;
}

.observaciones {
    border-radius: 0.1em;
    width: 7em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 550;
}

.h1 {
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.h2 {
    font-size: 1.3em;
    letter-spacing: 0.1em;
}