<app-navbar [header]="header"></app-navbar>
<div class="container pt-4 animated fadeIn fast">
    <h1 class="text-center">Bienvenido al panel del Administrador</h1>
    <hr>
    <h3 class="text-center">¿Que desea hacer hoy?</h3>
    <div class="row mt-3">

        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/casos/">
                    Ver todos los casos
                    <i class="fa fa-eye"></i>
                </button>
            </div>
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/preguntas/">
                    Editar preguntas y respuestas
                    <i class="fa fa-question"></i>
                </button>
            </div>
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/alumnos/">
                    Carga de alumnos
                    <i class="fa fa-users"></i>
                </button>
            </div>
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/materias/">
                    Carga de materias
                    <i class="fa fa-book"></i>
                </button>
            </div>
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/usuarios/">
                    Gestionar coordinadores
                    <i class="fa fa-graduation-cap"></i>
                </button>
            </div>
            <div class="col pb-3">
                <button class="btn btn-primary" routerLink="/coord/admin/cleancasos/">
                    Limpiar DB de casos
                    <i class="fa fa-eraser"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>

</div>