<app-navbar [header]="titulo"></app-navbar>
<div class="container mt-4 animated fadeIn fast">
    <h1 class="text-center">Gestionar base de datos de casos</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-danger" role="alert">
                Está gestion solo se debe hacer al final de un ciclo escolar
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="text-justify">Para una gestion completa de la base de datos de todos los casos sigue los siguentes pasos.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h3>Paso 1:</h3>
        </div>
        <div class="col-md-7">
            Guarda un archivo de respaldo de todos los casos en este perido escolar
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" [disabled]="btn1Pulsed" (click)="stepOne()">
                Guardar respaldo
                <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }" class="fa"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h3>Paso 2:</h3>
        </div>
        <div class="col-md-7">
            <p>Una vez guardado el reslpaldo de los casos en un lugar seguro continue a vaciar la base de datos actual.</p>
            <p>Nota: todos los casos dejaran de estar presentes para todos los corrdinadores.</p>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" [disabled]="btn2Pulsed" (click)="stepTwo()">
                Vaciar base de datos actual
                <i [ngClass]="{ 'fa-trash': !loading, 'fa-refresh fa-spin': loading }" class="fa"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" routerLink="/coord/admin/index">
                Regresar
                <i class="fa  fa-arrow-left
                " aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>