<app-navbar [header]="titulo"></app-navbar>
<div class="container mt-4 animated fadeIn fast">
    <h1 class="text-center">Actualizar base de datos de alumnos</h1>
    <hr>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-primary" role="alert">
                Para actualizar la base de datos de los alumnos debe seleccionar el archivo excel que coontiene la información.
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="file"><strong>Elegir archivo de alumnos</strong></label>
                <input type="file" id="file" (change)="handleFileInput($event.target.files)" accept=".xls,.xlsx">
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" (click)="onSubmit()">
                Subir archivo
                <i class="fa fa-upload"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" routerLink="/coord/admin/index">
                Regresar
                <i class="fa  fa-arrow-left
                " aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>