  .bg-warning {
      font-size: 1em;
      text-align: center;
      color: black;
      font-weight: 550;
  }
  
  .but {
      transition: background 1s, color 1s;
      cursor: pointer;
      background: #ec8013;
      color: rgba(0, 0, 0, 0.8);
      border: none;
      letter-spacing: 0.10em;
  }