<app-navbar [header]="header"></app-navbar>
&nbsp;&nbsp;
<div class="container-fluid animated fadeIn fast">
    <h3 class="text-center">Genera tu caso</h3>
    <h5 class="text-center">Introduce la siguiente información</h5>

    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">No. de control:</span>
                </div>
                <input class="form-control" type="text" placeholder="Número de control" formControlName="no_control"
                    [class.is-invalid]="validaCampo('no_control')">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('no_control')" class="text-danger text-center">Comprueba tu número de control</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">NIP:</span>
                </div>
                <input class="form-control" type="password" placeholder="Introduce tu NIP registrado en el SII" formControlName="pass_student"
                    [class.is-invalid]="validaCampo('pass_student')" (keyup)="getStudent()" (paste)="getStudent()">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('pass_student')" class="text-danger text-center">Comprueba tu NIP</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">Correo:</span>
                </div>
                <input class="form-control" type="text" placeholder="Correo registrado en el SII" formControlName="correo"
                 [class.is-invalid]="validaCampo('correo')" disabled>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('correo')" class="text-danger">Comprueba tu correo</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">Nombre:</span>
                </div>
                <input class="form-control" type="text" placeholder="Nombre(s), Apellido Paterno, Apellido Materno"
                    formControlName="nombre" [class.is-invalid]="validaCampo('nombre')" disabled>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('nombre')" class="text-danger">Introduce tu nombre completo</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">Carrera:</span>
                </div>
                <select class="custom-select" formControlName="carrera" [class.is-invalid]="validaCampo('carrera')">
                 <option *ngFor="let carrera of carreras" value = "{{carrera.career_id}}" [disabled]="carrera.length === 0" >
                     {{carrera.career_name}}</option> <!--ARMANDO WAS HERE-->
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('carrera')" class="text-danger">Selecciona tu carrera</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">Situación:</span>
                </div>
                <select class="form-control" formControlName="pregunta" [class.is-invalid]="validaCampo('pregunta')" (change)="validaModHorario()">
                    <option *ngFor="let pregunta of preguntas" [disabled]="pregunta.length === 0" >{{pregunta.q_cont}}</option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('pregunta')" class="text-danger">Caso de atención</small>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col" *ngIf="modHorario">
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Grupo y Materia</th>
                                <th>Alta</th>
                                <th>Baja</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="materias">
                            <!-- La line de abajo no es un error, no borrar -->
                            <tr *ngFor="let mat of materias.controls, let i = index" [formGroupName]="i">
                                <td>
                                    <select class="form-control" type="select" formControlName="semestre" (change)="getMaterias(i)">
                                        <option value="" disabled>Selecione semestre de la materia</option>
                                        <option *ngFor="let sem of semestres" [ngValue]="sem">{{sem}}</option>
                                    </select>
                                    <select class="form-control" formControlName="materia">
                                        <option value="" disabled>Seleciona tu materia</option>
                                        <option *ngFor="let mat of materiasSemestre[i]" [ngValue]="mat">{{mat.mat_cont}}</option>
                                    </select>
                                    <!-- <input class="form-control" type="text" formControlName="materia" placeholder="Materia"> -->
                                    <input class="form-control" type="text" formControlName="grupo" placeholder="Grupo">
                                </td>
                                <td>
                                    <input type="radio" class="form-check-input ml-2 mt-4" id="check{{i}}" formControlName="alta_baja" value="alta">

                                </td>
                                <td>
                                    <input type="radio" class="form-check-input ml-2 mt-4" id="check{{i}}" formControlName="alta_baja" value="baja">

                                </td>
                                <td>
                                    <button class="btn btn-danger mt-3" type="button" (click)="borrarMateria(i)">
                                        Borrar
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarMateria()">
                        Agregar materia
                        <i class="fa fa-plus-square"></i>
                    </button>

                </div>

            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-warning">Observaciones:</span>
                </div>
                <textarea class="form-control" formControlName="observaciones" rows="10" [class.is-invalid]="validaCampo('observaciones')"></textarea>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col"></div>
            <small *ngIf="validaCampo('observaciones')" class="text-danger">Escribe tus observaciones</small>
            <div class="col"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-3"></div>
            <button type="submit" style="width: 25%" class="but" routerLink="/student/index"> Regresar </button>
            <!--<label class="col-2 col-form-label">&nbsp;</label>-->
            <div class="input-group col">
                <button type="submit" style="width: 100%;" class="btn but btn-primary btn-block">Guardar</button>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>
</div>