<app-navbar [header]="header"></app-navbar>
&nbsp;&nbsp;
<div class="conainer animated fadeIn fast">

    <h1 class="text-center">Información de tu caso</h1>

    <hr>

    <div class="row" [formGroup]=forma>

        <div class="col-md-6">
            <div class="container">

                <h2 class="text-center">Información del alumno</h2>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Folio:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="folio">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">No. de control:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="no_control">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Nombre:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Correo:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="correo">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Carrera:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="carrera">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Situación:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="pregunta">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Observaciones:</span>
                    </div>
                    <textarea class="form-control textarea-autosize" formControlName="observaciones" rows="10"></textarea>
                </div>

                <hr>

            </div>
        </div>


        <div class="col-md-6">
            <div class="container">

                <h2 class="text-center">Respuesta del coordinador</h2>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Estado:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="estado">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Respuesta:</span>
                    </div>
                    <input class="form-control" type="text" formControlName="respuesta">
                </div>

                <div class="col input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning">Observaciones:</span>
                    </div>
                    <textarea class="form-control textarea-autosize" formControlName="observaciones_coord" rows="10"></textarea>
                </div>
                <hr>

            </div>
        </div>
    </div>

</div>

<div class="col text-center">
    <button type="button" class="btn" routerLink="" style="background-color: #ec8013;">REGRESAR</button>
</div>