<app-navbar [header]="header"></app-navbar>
<div class="container mt-3 animated fadeIn fast">
    <div class="row justify-content-center">
        <h1>Edita la información del coordinador</h1>
    </div>
    <hr>
    <form formGroup="coordinadorForm">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="basic-addon1">Nombre:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Agrega el nombre del coordinador" formControlName="nombre">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="basic-addon1">Correo:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Agrega el correo del coordinador" formControlName="correo">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="basic-addon1">Contraseña:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Agrega la contraseña" formControlName="contraseña">
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger" (click)="nuevoPass()">Nueva contraseña</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="basic-addon1" disabled>Carreras:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Este campo se actualiza automaticamente" formControlName="carreras" disabled>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div *ngFor="let carrera of carreras; let i = index">
                <label>
                    <input type="checkbox" [checked]="checaCarrera(i)" (click)="actualizaCarrerra(i)">
                    {{carrera.career_name}}
                </label>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <hr>

    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-danger btn-block" (click)="reload()">
                Cancelar cambios
                <i ngClass="{ 'fa-ban': !loading, 'fa-refresh fa-spin': loading }" class="fa" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" (click)="submitForm()">
                Guardar datos del coordinador
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" routerLink="/coord/admin/usuarios">
                Regresar
                <i class="fa  fa-arrow-left
                " aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>