.butt {
    background-color: #ec8013;
    color: black;
}

button.btn-primary {
    //transition: background 1s, color 1s;
    cursor: pointer;
    background: #ec8013;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    letter-spacing: 0.10em;
}