<app-navbar [header]="header"></app-navbar>
<div class="container mt-3 mb-5 animated fadeIn fast">
    <h1 class="text-center">Preguntas</h1>
    <hr>
    <div class="row">
        <ng-container *ngFor="let singleQuestion of qna; let i = index">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text badge-warning" id="basic-addon1">{{i+1}}:</span>
                    </div>
                    <span type="text" class="form-control" placeholder="Agrega una pregunta..." aria-label="Recipient's username" disabled>{{singleQuestion.question}}</span>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" class="btn butt" [routerLink]="['/coord/admin/preguntas', singleQuestion.id]">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="input-group-append" *ngIf="i != 0" (click)="deleteQuestion(i)">
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </ng-container>
    </div>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-success btn-block" (click)="addQuestion()">
                Agregar pregunta
                <i class="fa fa-plus-circle"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-danger btn-block" (click)="reload()">
                Cancelar cambios
                <i [ngClass]="{ 'fa-ban': !loading, 'fa-refresh fa-spin': loading }" class="fa" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" (click)="submitForm()">
                Guardar todos cambios
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" routerLink="/coord/admin/index">
                Regresar
                <i class="fa  fa-arrow-left
                " aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>