<div class="jumbotron jumbotron-fluid" align="center">
    <div class="container-fluid">
      <img src="assets/logo_ITQ_original.png" class="img-responsive" alt="Instituto Tecnológico de Querétaro" width="7%">
      <h1> Tecnológico Nacional de México</h1>
      <h2> Instituto Tecnológico de Querétaro</h2>
      <h3>
        <div class="col-md-6 title">Atención de coordinadores</div>
      </h3>
    </div>
</div>

<div class="container animated fadeIn fast">

  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6 encabezado" align="center">
      <span class="badge badge-warning no_ctr">Folio </span>
    </div>
    <div class="col-md-3"> </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="input-group mb-3" align="center">
            <!-- <input type="text" class="form-control text_folio" (input)="console.log(folio)" maxlength="18" placeholder="Introduce tu número de folio" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="folio" autofocus=""> -->
            <input type="text" class="form-control text_folio" maxlength="30" placeholder="Introduce tu número de folio" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="folio" autofocus="">
            <div class="input-group-append">
              <button class="btn btn-default boton_consulta" type="button" id="button-addon2" [routerLink]="['/student/consulta',folio]">Consulta</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" align="center">
      <h3 class="h3_crear">¿Necesitas ayuda de tu coordinador? Crea tu caso</h3>
      <button type="submit" class="btn btn1 btn-default boton_crear" routerLink="/student/nuevo"> Crear </button>
    </div>
    <div class="col-md-3"></div>
  </div>

  <br>
  <br>
  <br>

</div>
