button.btn {
    //transition: background 1s, color 1s;
    cursor: pointer;
    background: #ec8013;
    color:rgba(0,0,0,0.8);
    border: none;
    letter-spacing: 0.10em;
  }
  
  .jumbotron {
    background-color: #333333;
    color: #ffffff;	
    border-radius: 0;
  }
  
  .jumbotron h1
  { 
    font-weight: 500;
    font-size: 2.5em;
    letter-spacing: 0.15em;
  }
  
  .jumbotron h2
  { 
    color: #ec8013;/*#ff6816;*/
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 1.70em;
  }
  
  .jumbotron h3
  { 
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 2em;
  }

  .title {
    color:#212529;
    background-color:#ffc107;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.25em;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    width: auto;
  }

  label {
    color:#212529;
    background-color:#ffc107;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 0.25em;
    display: inline-block;
    font-size: larger;
    font-weight: 700;
    width: 10em;
  }