<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
        <h1> Tecnológico Nacional de México</h1>
        <h2> Instituto Tecnológico de Querétaro</h2>
        <h3>
            <div class="col-md-6 title">Panel de coordinadores</div>
        </h3>
        <h4>
            <div class="col-md-6 title">Inicio de sesión</div>
        </h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <form (submit)="signIn()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo electronico</label>
                    <input type="email" [(ngModel)]="user.cord_email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo..." required autofocus>
                    <!-- <select class="custom-select" id="inputGroupSelectUsers" name="cord_email" [(ngModel)]="user.cord_email">
                      <option selected></option>
                      <option *ngFor="let opt of opts" [value]="opt.cord_name " >{{opt.cord_name}}</option>
                  </select> -->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" [(ngModel)]="user.cord_pass" name="password" class="form-control" placeholder="Contraseña..." required>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<router-outlet></router-outlet>