<app-navbar [header]="header"></app-navbar>
<div class="container mt-3 animated fadeIn fast">
    <div class="row justify-content-center">
        <h1>Edita la pregunta y las respuestas</h1>
    </div>
    <hr>
    <form formGroup="questionForm">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text badge-warning" id="basic-addon1">Pregunta:</span>
            </div>
            <ng-container *ngIf="params.id == 1; else elseBlock">
                <input type="text" class="form-control" placeholder="Agrega una pregunta..." aria-label="Recipient's username" formControlName="question" disabled>
            </ng-container>
            <ng-template #elseBlock>
                <input type="text" class="form-control" placeholder="Agrega una pregunta..." aria-label="Recipient's username" formControlName="question">
            </ng-template>
        </div>

        <div formArrayName="answers">

            <div *ngFor="let ans of questionForm.get('answers')['controls']; let i = index" formGroupName="i">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 align-items-center">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text badge-warning" id="basic-addon1">Respuesta: {{i+1}}:</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Agrega una pregunta..." aria-label="Agrega una respuesta" formControlName="uniqueAnswer">
                            <div class="input-group-append">
                                <button type="btn" class="btn btn-danger" (click)="deleteAnswer(i)">
                                    <i class="fa fa-trash del"></i>
                                </button>
                                <!-- <button class="btn btn-danger" type="button" (click)="deleteAnswer(i)">Eliminar</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3"></div>
                <div class="col-md-6 justify-content-center">
                    <button class="btn btn-success btn-block" (click)="addAnswer()">
                        Agregar respuesta
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-3"></div>
                <div class="col-md-6 justify-content-center">
                    <button class="btn btn-danger btn-block" (click)="reload()">
                        Cancelar cambios
                        <i ngClass="{ 'fa-ban': !loading, 'fa-refresh fa-spin': loading }" class="fa" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3"></div>
                <div class="col-md-6 justify-content-center">
                    <button class="btn btn-primary btn-block" (click)="submitForm()">
                        Guardar pregunta
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 justify-content-center">
                    <button class="btn btn-primary btn-block" routerLink="/coord/admin/preguntas">
                        Regresar
                        <i class="fa  fa-arrow-left" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>

    </form>
</div>