<app-navbar [header]="titulo"></app-navbar>
<div class="container mt-4 animated fadeIn fast">
    <h1 class="text-center">Gestionar los coordinadores</h1>
    <hr>
    <div class="row">
        <ng-container *ngFor="let coord of coordinadores; let i = index">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <!-- <span class="input-group-text badge-warning" id="basic-addon1">{{i+1}}:</span> -->
                        <span class="input-group-text badge-warning" id="basic-addon1">{{coord.cord_id}}:</span>
                    </div>
                    <span type="text" class="form-control" placeholder="Agrega una pregunta..." aria-label="Recipient's username" disabled>{{coord.cord_name}}</span>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" class="btn butt" routerLink="['/coord/admin/usuarios', coord.cord_id]">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    <div class="input-group-append" (click)="deleteCoord(coord.cord_id)">
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </ng-container>
    </div>

    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-success btn-block" (click)="addCoordinador()">
                Agregar coordinador
                <i class="fa fa-plus-circle"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-danger btn-block" (click)="reload()">
                Cancelar cambios
                <i ngClass="{'fa-ban':loading, 'fa-refresh fa-spin':loading}" class="fa" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>
   
    <hr>
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <button class="btn btn-primary btn-block" routerLink="/coord/admin/index">
                Regresar
                <i class="fa  fa-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-3"></div>
    </div>


</div>
